@charset "utf-8";
/* CSS Document */
h1 { font-style:italic; }
body {
	background-color: green;
	color: white;
	font-family: Italic;
	text-align: center;
	border: thick solid #000000;	
}
body header h1 {
	margin-top: 0vmax;
	margin-right: 3vmax;
	margin-left: 3vmax;
	margin-bottom: 0vmax;
	padding-top: 0rem;
	padding-right: auto;
	padding-left: auto;
	padding-bottom: 0rem;
	border: solid black;
}
mian {
	border: solid;
}
nav {
}

footer {
	border-color: black;
	border-bottom-style: solid;
}
#history:hover {font-size: 250%; color: red;
	
}